.budget{
  width: 320px;
  height: 120px;
  padding: 10px;
  border: 5px solid green;
  margin: 0;
}
.budget1{
  width: 1000px;
  height: 550px;
  padding: 10px;
  border: 5px solid 
  margin: 0;
  background-color: yellow
}
.border{
  width: 280px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
}
.button{
	margin: 0px;
	padding: 10px;
	
}
.budget2{
  width: 320px;
  height: 200px;
  padding: 10px;
  border: 5px solid red;
  margin: 0;
}
.budget3{
  position: absolute;
  width: 35%;
  left: 450px;
  top: 60px;
  height: 100px;
}
.icon{
  position: absolute;
  width: 40%;
  left: 10px;
  top: 60px;
  height: 100px;
}
.icon2{
  position: absolute;
  width: 40%;
  left: 10;
  top: 60px;
  height: 100px;
}
.budget4{
  position: absolute;
  width: 35%;
  left: 600px;
  top: 60px;
  height: 100px;
}
.icon3{
  position: absolute;
  width: 40%;
  left: 10px;
  top: 60px;
  height: 100px;
}
.icon4{
  position: absolute;
  width: 40%;
  left: 10;
  top: 60px;
  height: 100px;
}
.budget5{
  position: absolute;
  width: 35%;
  left: 750px;
  top: 60px;
  height: 100px;
}
.icon5{
  position: absolute;
  width: 40%;
  left: 10px;
  top: 60px;
  height: 100px;
}
.icon6{
  position: absolute;
  width: 40%;
  left: 10;
  top: 60px;
  height: 100px;
}
.budget6{
	position: absolute;
  width: 35%;
  left: 450px;
  top: 250px;
  height: 100px;

}
.budget7{
	position: absolute;
  width: 35%;
  left: 165px;
  top: 0px;
  height: 100px;

}
.budget8{
	position: absolute;
  width: 35%;
  left: 165px;
  top: 60px;
  height: 100px;
}